<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
    
    <div class="main" style="height: 500px; width: 500px; margin-left:auto;margin-right: auto; margin-top: 100px;">
 <form method="POST" action="/user/signup">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">First Name</span>
        <input type="text" class="form-control" placeholder="John Doe" name="fName" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Last Name</span>
        <input type="text" class="form-control" placeholder="John Doe" name="lName" aria-describedby="basic-addon1">
      </div>
      
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Mail ID" name="email" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2">@gmial.com</span>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Password</span>
        <input type="password" class="form-control" placeholder="abc@123" name="password" aria-describedby="basic-addon1">
      </div>
      <button type="submit">Create Account</button>
    </form>
    </div>
</div>
</body>
</html>